{% extends "base.html" %}

{% block body %}

<!-- Cookie Consent by https://www.TermsFeed.com -->
<script type="text/javascript" src="//www.termsfeed.com/public/cookie-consent/4.0.0/cookie-consent.js" charset="UTF-8"></script>
<script type="text/javascript" charset="UTF-8">
document.addEventListener('DOMContentLoaded', function () {
cookieconsent.run({"notice_banner_type":"headline","consent_type":"express","palette":"dark","language":"en","page_load_consent_levels":["strictly-necessary"],"notice_banner_reject_button_hide":false,"preferences_center_close_button_hide":false,"website_name":"Ourblog","open_preferences_center_selector":"#cookies_center"});
});
</script>

<noscript>Cookie Consent by <a href="https://www.TermsFeed.com/" rel="nofollow noopener">TermsFeed Generator</a></noscript>
<!-- End Cookie Consent -->


<div class ="row">
    
        <div class="col-md-10 offset-md-3">
            <div class="col-lg-8">
                <h1>Articles</h1>
                <hr>
                </div>
        </div>
</div>
 



{% if articles %}

{% for article in articles %}

  <p> Tags:


  {% for tag in article.tags.all %}
      <a href="{% url 'blog:article_tag' tag.slug %}" class="badge badge-success">{{ tag.name }}</a>
  {% if not forloop.last %},{% endif %}
  {% endfor %}
  </p>


<article class="media content-section">
  <div class="w3-col l8 s12">
    <!-- Blog entry -->
    <div class="w3-card-4 w3-margin w3-white">
      <img class="rounded-circle article-img" src="{{blog.profile_image.url}}" >
      <div class="pt-6 md:p-8 text-center md:text-left space-y-4">  
        <h3 href="{% url 'blog:detail' article.slug %}"><b>{{article.title}}</b></h3>
        <h5> {{article.author.username}} <span class="w3-opacity">{{article.pub_date}}</span></h5>
      </div>

    <div class="w3-container pb-2">
      <p class="article-content">{{ article.content | safe | truncatewords:50 }}</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <a href="{% url 'blog:detail' article.slug %}" class="btn btn-secondary"><b>READ MORE »</b></a>
        </div>
        <div class="w3-col m4 w3-hide-small">
          <a href="{% url 'blog:comment' article.slug %}"><span class="w3-padding-large w3-right"><span class="w3-tag">{{ article.comments.count }}</span></span>
          <i class="fa fa-comment" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <hr>

{% endfor %}


{% else %}
<div class ="row">
    
    <div class="col-md-10 offset-md-3">
        <div class="col-lg-8">
<div class = "alert alert-danger">
   Article Not Found
</div>
</div>
</div>
</div>
{% endif %}

{% if users.has_other_pages %}
  <ul class="pagination">
    {% if users.has_previous %}
      <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in users.paginator.page_range %}
      {% if users.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if users.has_next %}
      <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock body %}