{% extends "base.html" %}

{% block body %}

<div class ="row">
    
        <div class="col-md-10 offset-md-3">
            <div class="col-lg-8">
                <h1>Articles</h1>
                <hr>
                </div>
        </div>
</div>

<p>Common Tags: 
  {% for mt in common_tags %}
      <a href="{% url 'blog:tagged' article.slug %}" class="badge badge-success">{{mt}}</a>
  {% endfor %}
</p>


{% if articles %}

{% for article in articles %}


<div class="w3-col l8 s12">
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <img src="{{article.image.url}}" alt="Nature" style="width:100%">
    <div class="w3-container">
      <h3 href="{% url 'blog:detail' article.slug %}"><b>{{article.title}}</b></h3>
      <h5> {{article.author.username}} <span class="w3-opacity">{{article.pub_date}}</span></h5>
    </div>

    <div class="w3-container">
      <p>{{ article.content | safe | truncatewords:50 }}</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <a href="{% url 'blog:detail' article.slug %}" class="btn btn-primary"><b>READ MORE »</b></a>
        </div>
        <div class="w3-col m4 w3-hide-small">
          <a href="{% url 'blog:comment' article.slug %}"><span class="w3-padding-large w3-right"><b>Comments:</b> <span class="w3-tag">{{ article.comments.count }}</span></span></a>
        </div>
      </div>
    </div>
  </div>
  <hr>

<div class="w3-col l4">
  <!-- About Card -->
  <div class="w3-card w3-margin w3-margin-top">
  <img src="{{article.image.url}}" style="width:100%">
    <div class="w3-container w3-white">
      <h4><b>My Name</b></h4>
      <p>Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a interest of lorem ipsum and mauris neque quam blog. I want to share my world with you.</p>
    </div>
  </div><hr>
  </div><hr>


{% comment %} <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{article.image.url}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title" href="{% url 'blog:detail' article.slug %}">{{article.title}}</h5>
    <div style="display:flex">
      {% for tag in post.tags.all %}
      <a href="{% url 'blog:tagged' article.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
      {% endfor %}
    </div>
    <p class="lead">
         Posted by
        {{article.author.username}}
      </p>

      <hr>

      <!-- Date/Time -->
      <p>{{article.pub_date}}</p>
      <hr>
    <p class="card-text">{{ article.content | safe | truncatewords:50 }}</p>

    <a href="{% url 'blog:detail' article.slug %}" class="btn btn-primary">Read more</a>
  <hr>
  <br>
  </div>
</div> {% endcomment %}

{% endfor %}
{% comment %} <div class="row">
    <div class="col-md-6">
      <div class="cards">
          <div class="row no-gutters border rounded  flex-md-row mb-4 shadow-sm h-md-250">
              <div class="col p-4 d-flex flex-column position-static">
      <!-- Title -->
      <a href="{% url 'blog:detail' article.slug %}"><h2 class="mt-4">{{article.title}}</h2></a> 
      <div style="display:flex">
          {% for tag in post.tags.all %}
          <a href="{% url 'tagged' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
          {% endfor %}
      </div>
      <!-- Author -->
      <p class="lead">
         Posted by
        {{article.author.username}}
      </p>

      <hr>

      <!-- Date/Time -->
      <p>{{article.pub_date}}</p>
      <hr>
      <hr>
      <!-- Preview Image -->
      {% if article.image %}
      <a href="{% url 'blog:detail' article.slug %}"><img class="img-fluid rounded" src="{{article.image.url}}" alt=""></a>
      {% endif %}
     

      <hr>
      <!-- Post Content -->
      <p class="lead">
          {{article.content|safe|truncatewords:50}}
      </p>

      <a href="{% url 'blog:detail' article.slug %}" class ="btn btn-danger my-3">Read more</a>
      <hr>
         
        </div>
      </div>
      </div> {% endcomment %}

  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Tags</h4>
    </div>
    <div class="w3-container w3-white">
    {% for tag in article.tags.all %}
      <a href="{% url 'blog:tagged' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
    {% endfor %}
    </div>
  </div>


{% else %}
<div class ="row">
    
    <div class="col-md-10 offset-md-3">
        <div class="col-lg-8">
<div class = "alert alert-danger">
   Article Not Found
</div>
</div>
</div>
</div>
{% endif %}
{% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

{% endif %}
{% endblock body %}