{% extends "base.html" %}

{% block body %}

<h1>{{ slug }}</h1>
<ul>
{% for post in category_post %}
    <li><a href="{% url 'blog:detail' post.slug %}"> {{ post.title }}</a></li>
    {{ post.author.first_name }} {{ post.author.last_name}}-
    {{ post.pub_date}} <small>

    {% if user.is_authenticated %}
        <a href="{% url 'blog:update' post.slug %}", class="btn btn-primary btn-sm">Edit</a>
        <a href="{% url 'blog:delete' post.slug %}", class="btn btn-primary btn-sm btn-danger">Delete</a>
    {% endif %}
</small> <br/>
{% endfor %}
</ul>

{% endblock body %}