  
{% extends "base.html" %}

{% block body %}
<div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
      <h3 class="mt-4">{{article.title}}</h3>

      <!-- Author -->
      <p class="lead">
        
        Posted by

        {{article.author.username}} 
      </p>

      <hr>

      <!-- Date/Time -->
      <p>{{article.pub_date}}</p>

      <hr>

      <!-- Preview Image -->
      {% if article.article_image %}
      <img class="img-fluid rounded" src="{{blog.profile_image.url}}" alt="">
      {% endif %}
     

      <hr>
      <div style="display:flex" data-role="tagsinput">
          {% for tag in article.tags.all %}
          <a href="{% url 'blog:article_tag' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
          {% endfor %}
      </div>

      <!-- Post Content -->
      <p class="lead">
          {{article.content|safe}}
      </p>

      <hr>
      {% if user.is_authenticated %}

      <h4>comments {% if comments %}({{comments.count }}){% endif %}</h4>
      <hr>
      {% if comments %}
      {% for comment in comments  %}
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="{{article.article_image.url}}" alt="">
          <div class="media-body">
            <h5 class="mt-0">{{ comment.authors.first_name }}</h5>
            {{comment.created_on}} <br>
            {{comment.body}}
          </div>
        </div>
      {% endfor %}
      
      
      {% else %}
      <div class ="alert alert-danger">
        There are no comments for this article, be the first to comment!
      </div>
      {% endif %}
      {% else %}
      <a class="btn btn-outline-info" href="{% url 'account_login' %}?next={{request.path}}">Log in to comment on this article!</a><br>
    {% endif %}
    <br/><br/>
    <hr>
    <br/>
    {% if user.is_authenticated %}
    <form action="{% url 'blog:article_like' article.slug %}" method="POST">
      {% csrf_token %}
      <button type="submit" name="article_slug", value="{{ article.slug }}", class="btn btn-primary btn-sm">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
      </svg>
      {{ article.total_likes }}
      </button>
    </form>
    {% else %}
      <a class="btn btn-outline-info" href="{% url 'account_login' %}?next={{request.path}}">Log in to Like this article!</a><br>
    {% endif %}

      <div class="row">
        <div class="col-lg-4 cpl-md-6 col-sl-12 p-3">
          <div class="border rounded">
            <small class="text-primary mt-2 p-4">Post Title</small>
            <p class="p-4"> this article is just a test of the similar post i am implementing on this site</p>
            <a href="#" class="p-4">Read More<i class="mdi mdi-chevron-right"></i></a>
            <div class="border-top p-3 mt-3 d-flex">
              <img src="http://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" alt"" style="max-width:50px;max-height:50px;" class="rounded-pill img-fluid mr-3">
              <div class="form-inline">
                <div class="form-group">
                  <h6> Author's Name</h6>
                </div>
                <div class="form-group ml-5">
                  <small>10 oct 2022</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-4 container">
          <h5 class="card-header">Add Comment:</h5>
          <div class="card-body">
            <form method = "post" action = "{% url 'blog:comment' article.slug %}">
              {% csrf_token %}
              <div class="form-group">
                  <label for="formGroupExampleInput">Comment</label>
                <textarea name = "body" class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-danger my-3">comment</button>
            </form>
          </div>
        </div>
        </div>
        
      </div>
      <br>
      <h2> Most Liked Posts</h2>
      {% for post in like_article %}
      <a href="{{ post.get_absolute_url }}"><h5>{{post.title}}</h5></a>
      {% endfor %}
      <br />
      <br/>
      <br/>
      <hr>
      <br/>
      <h2>Similar posts</h2>
      {% for post in similar_posts %}
      <p>
      <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
      </p>
      {% empty %}
      There are no similar posts yet.
      {% endfor %}

      

{% endblock body %}
