{% load static %}
<footer id="footer" class="footer">
  <div class="container">
      <p>Follow MDB on social media</p>
      <div class="social-media">
          <a href="https://www.youtube.com/" class="btn btn-primary m-1" role="button"
            rel="nofollow" target="_blank">
            <i class="fab fa-youtube"></i>
          </a>
        
          <a href="https://twitter.com/Herr_Zee" class="btn btn-primary m-1" role="button" rel="nofollow"
            target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://github.com/zayyadi" class="btn btn-primary m-1" role="button" rel="nofollow"
            target="_blank">
            <i class="fab fa-github"></i>
          </a>
      </div>
    </div>

    <!--Copyright-->
    <div class="copyrights">
      © 2021 Copyright:
      <p> Zayyad </p>
    </div>
    <!--/.Copyright-->

  </footer>