{% comment %} <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
  <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'blog:articles' %}"> OurBlog</a>

      <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
          <a class="nav-link" href="{% url 'about'  %}">About</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="{% url 'blog:articles'  %}">Articles</a>
          </li>
          
      </ul>

          <div class="navbar-nav">
              {% if user.is_authenticated %}
              <a class="nav-item nav-link" href="{% url 'user:profile' %}">Profile</a>
              <a class="nav-item nav-link" href="{% url 'user:logout' %}">Logout</a>
              <li class="nav-item active">
              <a class="nav-item nav-link" href="{% url 'blog:addarticle' %}">Add Article</a>
              <a class="nav-link" href="{% url 'blog:dashboard'  %}">Control Panel</a>
              </li>
              {% else %}
              <a class="nav-item nav-link" href="{% url 'user:login' %}">Login</a>
              <a class="nav-item nav-link" href="{% url 'user:register' %}">Register</a>
              {% endif %}
          </div>
      </div>

  </div>
</nav> {% endcomment %}

{% comment %} <nav class="navbar navbar-expand-lg bg-light style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="{% url 'blog:articles' %}"> OurBlog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'blog:articles' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about'  %}"> About</a>
      </li>
      <div class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{% url 'user:profile' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profile
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'user:logout' %}">Logout</a>
            <a class="dropdown-item" href="{% url 'blog:addarticle' %}">Add Article</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'blog:dashboard'  %}">Control Panel</a>
          </div>
        </li>
        {% else %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{% url 'user:login' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Login
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'user:register' %}">Register</a>
          </div>
        {% endif %}
      </div>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> {% endcomment %}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="{% url 'blog:articles' %}">My Blog</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'blog:articles' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=" {% url 'about' %} ">About</a>
      </li>
    </ul>
              {% if user.is_authenticated %}
              <li class="nav-item active">
                <a class="nav-item nav-link" href="{% url 'user:profile' %}">Profile</a>
              </li>
              <li class="nav-item active">
                <a class="nav-item nav-link" href="{% url 'user:logout' %}">Logout</a>
              </li>
              <li class="nav-item active">
                <a class="nav-item nav-link" href="{% url 'blog:addarticle' %}">Add Article</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'blog:dashboard'  %}">Control Panel</a>
              </li>
              {% else %}
              <a class=" nav-link" href="{% url 'user:login' %}">Login</a>
              <a class="nav-item nav-link" href="{% url 'user:register' %}">Register</a>
              {% endif %}
    <ul>
      <li class="nav-item">
        <a class="nav-link disabled" href="#"></a>
      </li>
    </ul>
    <form>
      {% csrf_token %} 
      <input type="text" name = "keyword" class="input-sm" maxlength="64" placeholder="Search...">
      <button type="submit" class="btn btn-danger">Search</button>
    </form>
  </div>
</nav>