{% load static %}
<header class="tm-header" id="tm-header">
  <div class="tm-header-wrapper">
      <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
      </button>
      <div class="tm-site-header">
          <div class="mb-3 mx-auto tm-site-logo"><i class="fas fa-times fa-2x"></i></div>            
          <h1 class="text-center">Xtra Blog</h1>
      </div>
      <nav class="tm-nav" id="tm-nav">
          <ul>
              <li class="tm-nav-item active"><a href="blog:article" class="tm-nav-link">
                  <i class="fas fa-home"></i>
                  Blog Home
              </a></li>
              {% if user.is_authenticated %}

              <li class="tm-nav-item"><a href="{% url "blog:addarticle" %}" class="tm-nav-link">
                  <i class="fas fa-pen"></i>
                 Add Article
              </a></li>
              <li class="tm-nav-item"><a href="{% url "blog:dashboard" %}" class="tm-nav-link">
                  <i class="fas fa-users"></i>
                  Dashboard
              </a></li>
              <li class="tm-nav-item"><a href="{% url "blog:add_category" %}" class="tm-nav-link">
                  <i class="far fa-comments"></i>
                  Add Category
              </a></li>
              <li class="tm-nav-item"><a href="{% url "users:logout" %}" class="tm-nav-link">
                  <i class="far fa-comments"></i>
                  Logout
              </a></li>
              {% else %}
              <li class="tm-nav-item"><a href="{% url "users:login" %}" class="tm-nav-link">
                  <i class="fas fa-pen"></i>
                 Login
              </a></li>
              <li class="tm-nav-item"><a href="users:register" class="tm-nav-link">
                  <i class="fas fa-pen"></i>
                 Register
              </a></li>
              {% endif %}
          </ul>
      </nav>
      <div class="tm-mb-65">
          <a rel="nofollow" href="https://fb.com/templatemo" class="tm-social-link">
              <i class="fab fa-facebook tm-social-icon"></i>
          </a>
          <a href="https://twitter.com" class="tm-social-link">
              <i class="fab fa-twitter tm-social-icon"></i>
          </a>
          <a href="https://instagram.com" class="tm-social-link">
              <i class="fab fa-instagram tm-social-icon"></i>
          </a>
          <a href="https://linkedin.com" class="tm-social-link">
              <i class="fab fa-linkedin tm-social-icon"></i>
          </a>
      </div>
      <p class="tm-mb-80 pr-5 text-white">
          Zee Blog is a blog website built using MVP technology of Django, HTML, CSS and JavaScript.
      </p>
  </div>
</header>
<div class="container-fluid">
  <main class="tm-main">
      <!-- Search form -->
      <div class="row tm-row">
          <div class="col-12">
              <form method="GET" action="search/" class="form-inline tm-mb-80 tm-search-form">
                  <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..." aria-label="Search">
                  <button class="tm-search-button" type="submit">
                      <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                  </button>
              </form>
          </div>
      </div>

