{%include "navbar.html"%}
{% include "links.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
    <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
        <a
        class="nav-link active"
        id="tab-login"
        data-mdb-toggle="pill"
        href={% url "users:login" %}
        role="tab"
        aria-controls="pills-login"
        aria-selected="true"
        >Login</a
        >
    </li>
    <li class="nav-item" role="presentation">
        <a
        class="nav-link"
        id="tab-register"
        data-mdb-toggle="pill"
        href={% url "users:register" %}
        role="tab"
        aria-controls="pills-register"
        aria-selected="false"
        >Register</a
        >
    </li>
    </ul>
    <!-- Pills navs -->

    <!-- Pills content -->
    <div class="tab-content">
    <div
        class="tab-pane fade show active"
        id="pills-login"
        role="tabpanel"
        aria-labelledby="tab-login"
    >
        <form>
        <div class="text-center mb-3">
            <p>Sign in with:</p>
            <a href="{% url 'social:begin' 'facebook' %}"
                <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
                </button>
            </a>
            <a href="{% url 'social:begin' 'twitter' %}"
                <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-twitter"></i>
                </button>
            </a>

            <a href="{% url 'social:begin' 'github' %}"
            <button type="button" class="btn btn-primary btn-floating mx-1">
            <i class="fab fa-github"></i>
            </button>
            </a>
        </div>

        <p class="text-center">or:</p>
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Log In</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Login</button>
                </div>
            </form>
        </div>
        <!-- Register buttons -->
        <div class="text-center">
            <p>Not a member? <a href={% url "users:register" %}>Register</a></p>
        </div>
    </div>
{% endblock %}
{%include "scripts.html" %}
{% include "footer.html"%}